.holeModal{
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.926);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0);
}
.holeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    background-color: rgba(77, 77, 77, 0.304);
    border-radius: 5px;
    backdrop-filter: blur(7px);
    padding-bottom: 3vh;
    box-shadow: 0px 0px 10px -10px rgba(167, 53, 255, 0.791);
}
.header{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 3vh;

}
.closeBtn{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.549);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    cursor: pointer;
}
.closeBtn:hover{
    background-color: rgb(57, 57, 57);
}