.holeContainer{
    background-color: rgb(196, 196, 196);
    background-color: rgb(30, 30, 30);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divOne {
    background-image: url('https://res.cloudinary.com/diswtvj50/image/upload/v1708734599/bannerGif_tyjyio.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .texto {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(179, 15, 255, 0.8); /* Cambiado de 'gray' a '128' */
    border-radius: 10px; /* Agregado para bordes redondeados */
    padding: 10px; /* Agregado para ajustar el tamaño del contenedor */
  }
  
  
  .boton1 {
    margin-right: 40px;
    padding: 10px 30px;
    background-color:  rgb(179, 15, 255);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  

  
  .boton1:hover {
    box-shadow: 0px 0px 10px 2px rgb(225, 0, 255);

    background-color: #fff;
    color:  rgb(179, 15, 255);
    transition: .4s;
    border: 2px solid  rgb(179, 15, 255);
  }
  
  .boton2 {
    padding: 10px 30px;
    border: 2px solid  rgb(179, 15, 255);
    background-color: #fff;
    color:  rgb(179, 15, 255);
    border-radius: 5px;
    text-decoration: none;
  }
  
  .boton2:hover {
    box-shadow: 0px 0px 10px 2px rgb(225, 0, 255);

    background-color:  rgb(179, 15, 255);
    color: #fff;
    transition: .4s;
  }
  
  .divCategorias3{
    position: relative; /* Establece una posición relativa para que los pseudoelementos puedan posicionarse correctamente */
    width: 100vw;
    height: 60vh;
    margin-bottom: 170px;
    display: flex;
    place-items: center;
  }
  .divCategorias{
    position: relative; /* Establece una posición relativa para que los pseudoelementos puedan posicionarse correctamente */
    width: 100vw;
    height: 35vh;
    margin-bottom: 60px;
    display: flex;
    place-items: center;
  }

  .divCategoriasCarrusel{
    width: 80vw;
    height: 45vh;
    margin-bottom: 60px;
    display: flex;
    place-items: center;
  }

  .divContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  .lineaDiagonalContainer {
    width: 100%;
    position: absolute;
    top: calc(50% - 1px); /* Alineamos verticalmente el borde */
    left: 0;
  }
  
  .lineaDiagonal {
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: black; /* Color del borde */
    transform: rotate(-45deg); /* Rotamos el borde */
  }
  
  
  

  .divAbout {
    width: 100vw;
    height: 50vh;
    display: flex;
    place-items: center;
    background-color: rgb(196, 196, 196);
  }

  .divCategorias2{
    width: 80vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: white;
    border-style: solid;
  }

  